.laurels{
 padding: 3rem;
}

.laurels_content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 0 6rem;
  flex-wrap: wrap;
}

.laurels__logo {
  position: relative;
}

.laurels__logo img {
  position: absolute;
  
  max-width: 120px;
}

.awards_card {
  display: flex;
  /* flex: 1; */
  /* flex-wrap: wrap; */
  flex-basis: 50%;
  justify-content: flex-start;
  align-items: center;
  gap: 1.8rem;

  max-width: 350px;
  min-width: 350px;
}
.awards_card img {
  max-width: 75px;
}
/* .flex-wrap{
    display: flex;
    flex-wrap: wrap;
    max-width: ;
} */

.border-2 {
  border-width: 2px;
  border-style: solid;
  border-color: aliceblue;
}

.flex-award {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  /* flex-basis: 100%; */
  /* min-width: 850px; */
  max-width: 850px;
  padding-top: 3rem;
}
/* .flex-award > * {
    display: flex;
    flex: 1;
    flex-basis: 50%;
} */

.laurels_img img {
  max-width: 500px;
}

@media screen and (max-width:1550px) {
  .laurels_img img {
    max-width: 500px;
  }
  .laurels_img {
    margin-top: 4rem;
  }
}

@media screen and (max-width:1000px) {
  .laurels_img img {
    max-width: 440px;
  }
  .laurels_img {
    margin-top: 4rem;
  }
}

@media screen and (max-width:600px) {
  .laurels_img img {
    max-width: 340px;
   
  }
 
  .laurels_img {
    margin-top: 4rem;
  }
  
}
@media screen and (max-width:600px) {
  .laurels_img img {
    max-width: 280px;
   
  }
}