.footer__newsletter {
  display: flex;
  justify-content: center;
  width: 100%;
  /* padding: 6rem; */
}

.footer__newsletter-overlay {
  text-align: center;
  background-color: #0c0c0c;
  padding: 2rem;
  width: 67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dcca8733;
}

.footer__newsletter-overlay h1 {
    max-width: 50rem;
}

.footer__newsletter-email {
  display: flex;
  gap: 1.5rem;
  margin-top: 3rem;
}

.footer__newsletter-email input {
    background: none;
    min-width: 40rem;
    border: 1px solid var(--color-golden);
    padding: 1rem 2rem;
}

.footer__newsletter-email input::placeholder {
    font-weight: bolder;
    font-family: var(--font-base)
  }



  
@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1550px) {
}

@media screen and (max-width: 1200px) {
  .footer__newsletter-email input {
    background: none;
    min-width: 25rem;
    border: 1px solid var(--color-golden);
    padding: 0.5rem 1rem;
}
}

@media screen and (max-width: 850px) {
  .footer__newsletter-email input {
    background: none;
    min-width: 15rem;
    border: 1px solid var(--color-golden);
    padding: 0.5rem 1rem;
}
}